<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h4 class="topic-author">
              投稿者「<%= topic.user.name %>」
             <p>料理名「<%=topic.title%>」</p>
             <p>業態 「<%=topic.subject%>」</p>
            </h4>
                <div class="pages">
                  <%= image_tag topic.image.url %>
                </div>
                
              <% if topic.favorite_users.include?(current_user) %>
                  <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                  <%= image_tag 'icons/heart.png', class: 'topic-index-icon-red' %> 
              <% end %>
              
              <% else %>
                  <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                  <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon' %>           
             <% end %>
    <% end %>
            <%= topic.favorite_users.count %>
            <!-- コメント実装-->
            
              <%= link_to new_comment_path(topic_id: topic.id) do %>
              <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
              <% end %>
               <!--詳細-->
              <%= link_to '[材料情報]', topic_path(topic.id), class: 'topic-index-icon' ,method: :get  %>
              
              <!--削除-->
              <%= link_to '[投稿削除]', topic_path(topic.id), topic_id: topic.id ,class: 'topic-index-icon' ,method: :delete%>
              <h4>作り方<h4>
            <p class="topic-text">
              <%= topic.description %>
              <p class="adobaisu">アドバイス一覧</p>
              <% topic.comments.each do |comment| %>
              <p>
             <li> <%= comment.content%></li>
              </p>
              <% end %>
              </p>
              
          </div>
        </div>
      </div>
    <% end %>
    <div class="pagenetion">
    <%= paginate @topics %>
    </div>
  </div>
</div>