<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">投稿画面</h1>
        
        <%= form_for @topic do |f| %>
          <div class="form-group">
            <%= f.label :料理名 %>
            <%= f.text_area :title, class: 'form-control' , size: "1x1"%>
          </div>
          
          <div class="form-group">
            <%= f.label :写真 %>
            <%= f.file_field :image%>
          </div>
          
          <div class="form-group">
            <%= f.label :業態 %>
            <p><%= f.select :subject, [["病院","病院"],
                                    ["保育園","保育園"],
                                    ["食堂","食堂"],
                                    ["レストラン","レストラン"],
                                    ["福祉施設","福祉施設"]],
                                    class: 'form-control' %>
            </p>
          </div>
          
          <!--材料-->
              
          
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script type="text/javascript">
              $(document).on("click", ".add", function() {
                  $(this).parent().clone(true).insertAfter($(this).parent());
              });
              $(document).on("click", ".del", function() {
                  var target = $(this).parent();
                  if (target.parent().children().length > 1) {
                      target.remove();
                  }
              });
              </script>
                <div id="input_pluralBox">
                   <div id="input_plural">
                      <div style="display:inline-flex">
                          <%= f.label :材料名 %>
                          <%= f.text_area :material,name:"material[]" , size: "20*1"%>
                          <%= f.label :グラム（ｇ）数 %>
                          <%= f.text_area :gram, name:"gram[]" ,size: "20x1"%>
                      </div>
                      <input type="button" value="＋" class="add pluralBtn">
                      <input type="button" value="－" class="del pluralBtn">
                  </div>
                </div>
          <!--材料-->
          <div class="form-group">
            <%= f.label :作り方 %>
            <%= f.text_area :description, class: 'form-control', size: "1x5"%>
          </div>
          
          <% if logged_in? %>
            <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
          <% end %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>