
<div class="topic-index-wrapper">
    <div class="container">
        <div class="row">
            <div class="well">
                <h2>詳細ページ</h2>
                <p>投稿者「<%= @topic.user.name %>」</p>
                <p> 料理名「<%=@topic.title%>」</p>
                <p>業態「<%=@topic.subject%>」</p>
                
                
                 
                 <table class="table table-bordered">
                      <thead>
                         <tr>
                          <th scope="col">材料名</th>
                          <th scope="col">グラム</th>
                          <th scope="col">人数分</th>
                        </tr> 
                    　</thead>
                    　
                      <tbody>
                        <%= @topic.materials.each do | m |%>
                          <tr>
                            <td><%= m.material %></td>

                            <td><%= m.gram %></td>
                          </tr>
                        <% end %>
                      </tbody>
                </table>
                    
                <p><%= image_tag @topic.image.url%></p>
            </div>    
        </div>
    </div>
</div>