<!DOCTYPE html>
<html>
  <head>
    <title>給食のサイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        
        <span><%= link_to '[料理投稿サイト]' , root_path ,class: "navbar-brand"%></span>
        
        <!--検索機能-->
        <div class="search">
            <%= form_tag(search_path, :method => 'get') do %>
                <span class="text-white">料理名</span>
                  <%= text_field_tag 'search', nil, placeholder: '例　肉じゃが　カレー' %>
                  <%= submit_tag '検索',:name => nil %>
              <% end %>
        </div>
        <!--検索機能-->
        
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          
            <li>
              <%= link_to '「お気に入り」' , favorites_index_path %>
            </li>
            <li>
              <%= link_to '「レシピを書く」', new_topic_path %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag "icons/logout.png" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_path do %>
                <%= image_tag "icons/register.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <%= image_tag "icons/login.png" %>
              <% end %>
            </li>
            
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>
      <script>
      $(function(){
      $(".alert").fadeOut(5000);
      });
      </script>
        <!--<= debug(params)if Rails.env.development? %>-->
  </body>
</html>
